.main-card__form--fill{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.3rem;

  &--legend {
    display: flex;
    flex-direction: row;

    .fa-keyboard {
      color: $dull-orange;
      font-size: 2rem;
    }

    &--title {
      color: $gunmetal;
      font-family: $font-OpenSans;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding-bottom: 2.5rem;
    }
    
    .fa-chevron-up{
        color: $gunmetal;
        font-size: 2rem;
    }


  }

  ::placeholder {
    color: #c5c5c5;
    font-size: 1.4rem;
    padding-left: 0.9rem;
    font-family: $font-OpenSans;
  }

  .field {
    font-family: $font-OpenSans;
    color: $dark-green-blue;
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
  }

  .box {
    border: 1px solid;
    border-color: $hospital-green;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 3rem;
  }

  .add_image {
    background-color: $dull-orange;
    color: $white-two;
    font-family: $font-OpenSans;
    font-size: 1.4rem;
    height: 3rem;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 0.7rem;
    padding-top: 0.3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  .square {
    border: solid 1px;
    color: $hospital-green;
    width: 3rem;
    height: 3rem;
    position: relative;
    transform: translate(160px, -45px);
  }

  .fa-sharp {
    color: $dull-orange;
    font-size: 2rem;
    position: relative;
    transform: translateY(20px);
  }
}
