.main-card__form--share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.3rem;

  &--legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px $white-three;
    width: 100%;
    cursor: pointer;

    .fa-share-nodes {
      color: $dull-orange;
      font-size: 2rem;
      margin-top: 1rem;
    }

    &--title {
      color: $gunmetal;
      font-family: $font-OpenSans;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding-bottom: 3rem;
      margin-top: 1rem;
      padding-left: 1rem;
      text-align: left;
      flex-grow: 2;
    }
    .fa-chevron-up {
      color: $gunmetal;
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &--button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $dull-orange;
    color: $white-two;
    border-radius: 12px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-right: 2.4rem;
    padding-left: 1.7rem;
    margin-bottom: 3rem;

    .fa-address-card{
        font-size: 2.2rem;
    }

    &--title{
        font-family: $font-OpenSans;
        font-size: 1.8rem;
        text-transform: uppercase;
        
    }
  }
}
