.design {
    width: 320px;
    height: 340px;
    padding: 27px 20px 31px;
    color: #f5f5f5;
}

.design__head {
    width: 320px;
    height: 61px;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
}

.fa-object-ungroup {
    color: #e17334;
    width: 21px;
    height: 18px;
    margin-top: 30px;
    margin-left: 20px;

}

.subtitle {
    width: 65px;
    height: 24px;
    font-size: 1.8rem;
    font-family: var(--font-p);
    margin-top: 27px;
    margin-left: 10px;
    color: #54585a;
    text-transform: uppercase;
}

.fa-angle-down {
    width: 16px;
    height: 18px;
    font-size: 18px;
    color: #54585a;
    margin-left: 134px;
    margin-top: 5px;

}

.fa-angle-up {
    width: 16px;
    height: 18px;
    font-size: 18px;
    color: #54585a;
    margin-left: 134px;
    margin-top: 30px;


}

.color-list {
    margin-top: 25px;
    padding: 20px;

}

.color-text {
    font-size: 1.4rem;
    width: 62px;
    height: 19px;
    color: #54585a;
    font-family: var(--font-p);
    margin-left: 39px;
    margin-top: 62px;
    text-transform: uppercase;
}

.Rectangle-1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 183px;
    margin-top: -35px;


}

#color_1 {
    width: 17px;
    height: 17px;
    margin-right: 10px;

}

.Rectangle-1-1 {
    background-color: #114e4e;
    width: 30px;
    height: 25px;

}

.Rectangle-1-2 {
    background-color: #438792;
    width: 30px;
    height: 25px;
}

.Rectangle-1-3 {
    background-color: #a2deaf;
    width: 30px;
    height: 25px;
}

.Rectangle-2 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 183px;
}

#color_2 {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.Rectangle-2-1 {
    background-color: #420101;
    width: 30px;
    height: 25px;
}

.Rectangle-2-2 {
    background-color: #bd1010;
    width: 30px;
    height: 25px;
}

.Rectangle-2-3 {
    background-color: #e95626;
    width: 30px;
    height: 25px;
}

.Rectangle-3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 183px;
}

#color_3 {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.Rectangle-3-1 {
    background-color: #3e5b65;
    width: 30px;
    height: 25px;
}

.Rectangle-3-2 {
    background-color: #eab052;
    width: 30px;
    height: 25px;
}

.Rectangle-3-3 {
    background-color: #a0c0cf;
    width: 30px;
    height: 25px;
}