.section__preview {
  background-image: linear-gradient(to bottom, $silver, $pale-grey);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 4.8rem 0 4.8rem;

  &--reset {
    height: 2.5rem;
    width: 7.5rem;
    border: solid 1px $white-two;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-8rem);

    &--link {
      text-decoration: none;
      color: $gunmetal;
      font-family: $font-OpenSans;
      font-size: 1.2rem;
    }
  }

  &--card {
    height: 33rem;
    width: 24rem;
    background-color: $white-two;
    margin-top: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 10px 0 $black-20;

    &--text {
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-template-rows: 2.5rem 2rem;
      padding: 2rem 0 1rem 0;

      &--color-line {
        background-color: $dirty-blue;
        width: 0.5rem;
        grid-row: 1/3;
        grid-column: 1;
      }

      &--name {
        font-family: $font-Montserrat;
        font-weight: bold;
        font-size: 1.8rem;
        color: $dark-green-blue;
        grid-row: 1;
        grid-column: 2;
      }

      &--jobtitle {
        font-family: $font-Montserrat;
        font-size: 1.6rem;
        color: $gunmetal;
        grid-row: 2;
        grid-column: 2;
      }
    }

    &--profile {
      background-color: black;
      height: 60%;
    }

    &--contact-icons {
      height: 5.7rem;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      gap: 1rem;
    }

    &--contact-icons > * {
      display: inline-block;
      border: solid 2px $hospital-green;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
    }
  }
}
