.header{
    width: 100vw;
    background-color: $white-four;
    display: flex;
    justify-content: center;

    &__img{
        width: 250px;
        height: 63px;
        margin: 95px 35px 36px 35px;
    }
}
