<hr class="line">
<i class="fa-regular fa-keyboard"></i>
<h2 class="title-fill">Rellena</h2>

<label for="name">Nombre Completo</label>
<input class="box" id="name" type="text" placeholder="Ej.: Sally Jill" />

<label for="">Puesto</label>
<input class="box" type="text" placeholder="Ej: Front-end unicorn" />

<label for="">Imagen de perfil</label>
<label for="">Apñadir Imagen</label>

<label for="">Email</label>
<input class="box" type="email" name="" id="" placeholder="sally-hill@gmail.com" />

<label for="">Teléfono</label>
<input class="box" type="number" placeholder="Ej: 555-55-55-55" />

<label for="">Linkedin</label>
<input class="box" type="url" placeholder="Ej: linkedin.com/in/sally.hill" />

<label for="">Github</label>
<input class="box" type="text" placeholder="Ej: @sally-hill"/>
