<legend class="main-card__form--fill--legend">
    <i class="fa-regular fa-keyboard"></i>
    <h2 class="main-card__form--fill--legend--title">Rellena</h2>
    <i class="fa-solid fa-chevron-up"></i>
</legend>


<label class="field" for="name">Nombre Completo</label>
<input class="box" id="name" type="text" placeholder="Ej.: Sally Jill" required/>

<label class="field" for="">Puesto</label>
<input class="box" type="text" placeholder="Ej: Front-end unicorn" />

<label class="field" for="">Imagen de perfil</label>
<label class="add_image" for="">Añadir Imagen</label>
<div class="square"></div>

<label class="field" for="">Email</label>
<input class="box" type="email" name="" id="" placeholder="sally-hill@gmail.com" />

<label class="field" for="">Teléfono</label>
<input class="box" type="number" placeholder="Ej: 555-55-55-55" />

<label class="field" for="">Linkedin</label>
<input class="box" type="url" placeholder="Ej: linkedin.com/in/sally.hill" />

<label class="field" for="">Github</label>
<input class="box" type="text" placeholder="Ej: @sally-hill"/>

