<form action="">
  <nav class="nav-form">

    <ul class="list-menu-form">
      <li class="list-color list-color--click">
        <div class="list-color-button">
          <img src="./imagenes/bx-shape-square.svg" alt="">
          <a href="" class="nav-list"> Diseña</a>
          <img src="./imagenes/bx-chevron-down.svg" class="list_img">

        </div>
        <ul class="list-color">
          <li class="list-color">
            <img src="./imagenes/8666818_disc_cd_dvd_icon.svg" alt="">
            <a href="#" class="nav_link nav--color">Color</a>

          </li>
          <li class="list-color">
            <img src="./imagenes/8666818_disc_cd_dvd_icon.svg" alt="">
            <a href="#" class="nav_link nav--color">Color</a>

          </li>
          <li class="list-color">
            <img src="./imagenes/8666818_disc_cd_dvd_icon.svg" alt="">
            <a href="#" class="nav_link nav--color">Color</a>

          </li>
        </ul>
      </li>

      <li class="list-form">
        <div>
          <img src="./imagenes/bxs-keyboard.svg" class="list_img">
          <a href="" class="nav-list"> Rellena</a>
          <img src="./imagenes/bx-chevron-down.svg" alt="">
      </li>
      </div>
      </li>
      <li class="list-share">
        <div>
          <img src="./imagenes/share_FILL0_wght400_GRAD0_opsz48.svg" class="list_img">
          <a href="" class="nav-list"> Comparte</a>
          <img src="./imagenes/bx-chevron-down.svg" alt="">
      </li>
      </div>
      </li>

    </ul>
  </nav>
</form>
