<!--legend-->
<legend title="Despliega la seción de rellena" class="main-card__form--fill--legend js_fill-legend">
  <i class="fa-regular fa-keyboard"></i>
  <h2 class="main-card__form--fill--legend--title">Rellena</h2>
  <i class="fa-solid fa-chevron-up"></i>
</legend>

<!--div1-->
<div class="main-card__form--fill--div js_fill-content collapsed">
  <label for="fullname" class="main-card__form--fill--div--label"
    >Nombre Completo</label
  >
  <input
    id="fullname"
    class="main-card__form--fill--div--input js_fill-name"
    type="text"
    name="name"
    placeholder="Ej.: Sally Jill"
    required
  />

  <label for="job" class="main-card__form--fill--div--label">Puesto</label>
  <input
    id="job"
    class="main-card__form--fill--div--input js_fill-job"
    type="text"
    name="jobDesc"
    placeholder="Ej: Front-end unicorn"
    required
  />

  <label class="main-card__form--fill--div--label">Imagen de perfil</label>

  <!--div2-->
  <div class="main-card__form--fill--div--boxes">
    <label class="main-card__form--fill--div--boxes--label-image" for=""
      >Añadir Imagen</label
    >
    <!--div3-->
    <div class="main-card__form--fill--div--boxes--square"></div>
  </div>

  <label for="email" class="main-card__form--fill--div--label" >Email</label>
  <input
    id="email"
    class="main-card__form--fill--div--input js_fill-email"
    type="email"
    name="email"
    placeholder="sally-hill@gmail.com"
    required
  />

  <label for="telnumber" class="main-card__form--fill--div--label"
    >Teléfono</label
  >
  <input
    id="telnumber"
    class="main-card__form--fill--div--input js_fill-tel"
    type="tel"
    name="telefono"
    placeholder="Ej: 555-55-55-55"
    required
  />

  <label for="linkedin" class="main-card__form--fill--div--label"
    >Linkedin</label
  >
  <input
    id="linkedin"
    class="main-card__form--fill--div--input js_fill-linkedin"
    type="url"
    placeholder="Ej: linkedin.com/in/sally.hill"
    required
  />

  <label for="github" class="main-card__form--fill--div--label" for=""
    >Github</label
  >
  <input
    id="github"
    class="main-card__form--fill--div--input js_fill-github"
    type="url"
    placeholder="Ej: @sally-hill"
    required
  />
</div>
