<legend class="design__head js__design_legend">
     <i class="fa-regular fa-object-ungroup"></i>
     <h2 class="subtitle">Diseña</h2>
     <i class="fa-solid fa-chevron-up"></i>
</legend>

<div class="design-list js__design_content collapsed">
     <h3 class="color-text">Colores</h3>
     <div class="Rectangle-1">
          <input type="radio" name="color" id="color_1" value="green">
          <div class="Rectangle-1-1"></div>
          <div class="Rectangle-1-2"></div>
          <div class="Rectangle-1-3"></div>
     </div>
     <div class="Rectangle-2">
          <input type="radio" name="color" id="color_2" value="red">
          <div class="Rectangle-2-1"></div>
          <div class="Rectangle-2-2"></div>
          <div class="Rectangle-2-3"></div>
     </div>
     <div class="Rectangle-3">
          <input type="radio" name="color" id="color_3" value="blue">
          <div class="Rectangle-3-1"></div>
          <div class="Rectangle-3-2"></div>
          <div class="Rectangle-3-3"></div>
     </div>
</div>
