<!--legend share-->
<legend title="Despliega sección comparte" class="main-card__form--share--legend js_share-legend">
    <i class="fa-sharp fa-solid fa-share-nodes"></i>
    <h2 class="main-card__form--fill--legend--title">Comparte</h2>
    <i class="fa-solid fa-chevron-up arrow-collapsed js_arrow-share"></i>
</legend>

<!--share button-->
<div class="main-card__form--share js_share-content collapsed">
<div class="main-card__form--share--button">
    <i class="fa-regular fa-address-card"></i>
    <input type="button" class="main-card__form--share--button--title js_create_button" value="Crear Tarjeta"/>
</div>


<div class="main-card__form--share--twitter">
    <h2 class="main-card__form--share--twitter--text">La tarjeta ha sido creada</h2>
    <button class="main-card__form--share--twitter--button">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?"><i
                class="fa-brands fa-twitter"> Tweet </i></a>
    </button>
</div>

</div>