<section class="section__preview">
  <div class="section__preview--reset">
    <a class="section__preview--reset--link" href=""
      ><i class="fa-regular fa-trash-can"></i>RESET</a
    >
  </div>
  <div class="section__preview--card">
    <div class="section__preview--card--text">
      <div class="section__preview--card--text--color-line"></div>
      <h2 class="section__preview--card--text--name">Nombre Apellido</h2>
      <h3 class="section__preview--card--text--jobtitle">
        Front-end developer
      </h3>
    </div>
    <div class="section__preview--card--profile">
      <img class="section__preview--card--profile-picture" src="" alt="" />
    </div>
    <div class="section__preview--card--contact-icons">
      <i class="fa-solid fa-mobile-screen-button"></i>
      <i class="fa-regular fa-envelope"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-github-alt"></i>
    </div>
  </div>
</section>
